<h1>Chat</h1>
<hr />
<div class="app-mensajes" id="app-mensajes">
  <div
    class="text-right"
    *ngFor="let chat of chatService.chats"
    [ngClass]="{
      'text-right': chatService.user.uid == chat.uid,
      'text-left': chatService.user.uid != chat.uid
    }"
  >
    <span
      class="badge"
      [ngClass]="{
        'badge-primary': chatService.user.uid == chat.uid,
        'badge-success': chatService.user.uid != chat.uid
      }"
      >{{ chat.name }}</span
    >
    <p>
      {{ chat.message }}
    </p>
  </div>
</div>
<input
  type="text"
  name="msg"
  [(ngModel)]="msg"
  placeholder="Enviar mensaje"
  (keyup.enter)="sendMsg()"
  class="form-control"
/>
